node-red/.flows.json.backup
[{"id":"79ddab3e.2ca0c4","type":"tab","label":"Rolladensteuerung","disabled":false,"info":""},{"id":"9bf7fb6e.7aac88","type":"tab","label":"Beleuchtung","disabled":false,"info":""},{"id":"a0992e23.0acf8","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"8932bf10.56a6b","type":"mqtt-broker","name":"","broker":"core-mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a962ddc.fbff22","type":"position-config","name":"Kostheimer Landstraße 17, 55246 Mainz-Kostheim","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"5fd6ad78.cfd8d4","type":"switch","z":"9bf7fb6e.7aac88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on-press","vt":"str"},{"t":"eq","v":"off-press","vt":"str"},{"t":"regex","v":"(on|off)-hold.*","vt":"str","case":false},{"t":"regex","v":"(up|down)-.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":160,"wires":[["5db24814.bd8fa8"],["1ef1f9d9.5b3126"],["4d46e9f1.c2a218"],["ad5b53a3.6d03d"]]},{"id":"9bfc8ef6.375c6","type":"function","z":"9bf7fb6e.7aac88","name":"on-press","func":"const startup_scene = {brightness: 254, color_temp: 370};\nconst additional_scenes = [\n    {brightness: 254, color_temp: 156}, // energize\n    {brightness: 254, color_temp: 346}, // reading\n    {brightness: 77, color_temp: 367} // dimmed\n] || []; // && to exclude, || to include additional scenes\n\nconst scenes = [\n    startup_scene\n    , ...additional_scenes\n];\n\nvar payload = {state: \"ON\", transition: 0.5};\nif (msg.count > -1) {\n    Object.assign(\n        payload,\n        scenes[msg.count % scenes.length] // round robin\n    );\n}\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":120,"wires":[["336a8b4d.d56504"]]},{"id":"1ef1f9d9.5b3126","type":"function","z":"9bf7fb6e.7aac88","name":"off-press","func":"return {payload: {state: \"OFF\", transition: 0.5}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["336a8b4d.d56504"]]},{"id":"ad5b53a3.6d03d","type":"function","z":"9bf7fb6e.7aac88","name":"(up|down)-.*","func":"payload = {\n    \"up-press\": {brightness_step: 40, transition: 0.5},\n    \"down-press\": {brightness_step: -40, transition: 0.5},\n    \"up-hold\": {brightness_move: 80},\n    \"down-hold\": {brightness_move: -80},\n    \"up-hold-release\": {brightness_move: 0},\n    \"down-hold-release\": {brightness_move: 0}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":240,"wires":[["336a8b4d.d56504"]]},{"id":"32a3414.7a5c0be","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"wohnzimmer-decke-dimmer","topic":"zigbee2mqtt/wohnzimmer-decke-dimmer/action","qos":"2","datatype":"auto","broker":"8932bf10.56a6b","x":340,"y":160,"wires":[["5fd6ad78.cfd8d4"]]},{"id":"336a8b4d.d56504","type":"mqtt out","z":"9bf7fb6e.7aac88","name":"group-wohnzimmer-decke","topic":"zigbee2mqtt/group-wohnzimmer-decke/set","qos":"","retain":"","broker":"8932bf10.56a6b","x":1140,"y":160,"wires":[]},{"id":"33d19d47.fbeea2","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"wohnzimmer-decke-1","topic":"zigbee2mqtt/wohnzimmer-decke-1","qos":"2","datatype":"json","broker":"8932bf10.56a6b","x":160,"y":40,"wires":[["7994956e.5d74cc"]]},{"id":"5db24814.bd8fa8","type":"counter","z":"9bf7fb6e.7aac88","name":"Counter","init":"-2","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":620,"y":40,"wires":[["aca5d059.c41b4"]]},{"id":"7994956e.5d74cc","type":"switch","z":"9bf7fb6e.7aac88","name":"OFF?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":40,"wires":[["8f4e7bc.3fb9d88"]]},{"id":"8f4e7bc.3fb9d88","type":"change","z":"9bf7fb6e.7aac88","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":40,"wires":[["5db24814.bd8fa8"]]},{"id":"aca5d059.c41b4","type":"switch","z":"9bf7fb6e.7aac88","name":"ON?","property":"count","propertyType":"msg","rules":[{"t":"gte","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":40,"wires":[["9bfc8ef6.375c6"]]},{"id":"4d46e9f1.c2a218","type":"function","z":"9bf7fb6e.7aac88","name":"(on|off)-hold.*","func":"payload = {\n    \"on-hold\": {color_temp_move: 60},\n    \"off-hold\": {color_temp_move: -60},\n    \"on-hold-release\": {color_temp_move: \"stop\"},\n    \"off-hold-release\": {color_temp_move: \"stop\"}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":200,"wires":[["336a8b4d.d56504"]]},{"id":"d2b81a0c.fa4bd8","type":"switch","z":"9bf7fb6e.7aac88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on-press","vt":"str"},{"t":"eq","v":"off-press","vt":"str"},{"t":"regex","v":"(on|off)-hold.*","vt":"str","case":false},{"t":"regex","v":"(up|down)-.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":820,"wires":[["7552153.4e951ec"],["4513a2f6.285aec"],["d82fe7f7.84eb18"],["e956b082.c755c"]]},{"id":"ed1d1058.9f5aa","type":"function","z":"9bf7fb6e.7aac88","name":"on-press","func":"const startup_scene = {brightness: 254, color_temp: 370};\nconst additional_scenes = [\n    {brightness: 254, color: {x: 0.314951744809611, y: 0.325010746064094}, color_temp: 346}, // activate\n    {brightness: 254, color: {x: 0.314951744809611, y: 0.325010746064094}, color_temp: 156}, // reading\n    {brightness: 213, color: {x:0.435684, y: 0.281409}, color_temp: 416}, // spring flowers\n    {brightness: 77, color :{x: 0.458227749642249, y: 0.410224893445347}, color_temp: 367} // dimmed\n] || []; // && to exclude, || to include additional scenes\n\nconst scenes = [\n    startup_scene\n    , ...additional_scenes\n];\n\nvar payload = {state: \"ON\", transition: 0.5};\nif (msg.count > -1) {\n    Object.assign(\n        payload,\n        scenes[msg.count % scenes.length] // round robin\n    );\n}\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":780,"wires":[["e91cbd9c.8a503"]]},{"id":"4513a2f6.285aec","type":"function","z":"9bf7fb6e.7aac88","name":"off-press","func":"return {payload: {state: \"OFF\", transition: 0.5}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":820,"wires":[["e91cbd9c.8a503"]]},{"id":"e956b082.c755c","type":"function","z":"9bf7fb6e.7aac88","name":"(up|down)-.*","func":"payload = {\n    \"up-press\": {brightness_step: 40, transition: 0.5},\n    \"down-press\": {brightness_step: -40, transition: 0.5},\n    \"up-hold\": {brightness_move: 80},\n    \"down-hold\": {brightness_move: -80},\n    \"up-hold-release\": {brightness_move: 0},\n    \"down-hold-release\": {brightness_move: 0}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":900,"wires":[["e91cbd9c.8a503"]]},{"id":"ce73a8c4.9f65a8","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"schlafzimmer-dimmer","topic":"zigbee2mqtt/schlafzimmer-dimmer/action","qos":"2","datatype":"auto","broker":"8932bf10.56a6b","x":320,"y":820,"wires":[["d2b81a0c.fa4bd8"]]},{"id":"e91cbd9c.8a503","type":"mqtt out","z":"9bf7fb6e.7aac88","name":"group-schlafzimmer","topic":"zigbee2mqtt/group-schlafzimmer/set","qos":"","retain":"","broker":"8932bf10.56a6b","x":1120,"y":820,"wires":[]},{"id":"47633ec0.d10ce","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"schlafzimmer-1","topic":"zigbee2mqtt/schlafzimmer-1","qos":"2","datatype":"json","broker":"8932bf10.56a6b","x":140,"y":700,"wires":[["1b5574b7.ab40fb"]]},{"id":"7552153.4e951ec","type":"counter","z":"9bf7fb6e.7aac88","name":"Counter","init":"-2","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":620,"y":700,"wires":[["c7844871.e15cf8"]]},{"id":"1b5574b7.ab40fb","type":"switch","z":"9bf7fb6e.7aac88","name":"OFF?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":700,"wires":[["e40533f0.26caf"]]},{"id":"e40533f0.26caf","type":"change","z":"9bf7fb6e.7aac88","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":700,"wires":[["7552153.4e951ec"]]},{"id":"c7844871.e15cf8","type":"switch","z":"9bf7fb6e.7aac88","name":"ON?","property":"count","propertyType":"msg","rules":[{"t":"gte","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":700,"wires":[["ed1d1058.9f5aa"]]},{"id":"d82fe7f7.84eb18","type":"function","z":"9bf7fb6e.7aac88","name":"(on|off)-hold.*","func":"payload = {\n    \"on-hold\": {color_temp_move: 60},\n    \"off-hold\": {color_temp_move: -60},\n    \"on-hold-release\": {color_temp_move: \"stop\"},\n    \"off-hold-release\": {color_temp_move: \"stop\"}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":860,"wires":[["e91cbd9c.8a503"]]},{"id":"54a6a08c.801c6","type":"mqtt out","z":"9bf7fb6e.7aac88","name":"group-garderobe","topic":"zigbee2mqtt/group-garderobe/set","qos":"","retain":"","broker":"8932bf10.56a6b","x":1110,"y":1100,"wires":[]},{"id":"a99e5a7a.14ccf8","type":"time-range-switch","z":"9bf7fb6e.7aac88","name":"Sleeptime?","lat":"50.1333","lon":"8.71005","startTime":"23:00","endTime":"06:30","startOffset":0,"endOffset":0,"x":710,"y":1020,"wires":[["adc64198.4411b"],["76193f43.2b713"]]},{"id":"76193f43.2b713","type":"change","z":"9bf7fb6e.7aac88","name":"Standard","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"254","tot":"num"},{"t":"set","p":"payload.color_temp","pt":"msg","to":"370","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":864,"y":1040,"wires":[["54a6a08c.801c6"]]},{"id":"bd62e44c.b67ca8","type":"switch","z":"9bf7fb6e.7aac88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on-press","vt":"str"},{"t":"eq","v":"off-press","vt":"str"},{"t":"regex","v":"(on|off)-hold.*","vt":"str","case":false},{"t":"regex","v":"(up|down)-.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":500,"wires":[["5981e98d.de45f8"],["d8f7279b.a365c8"],["6d395cfa.5a16d4"],["d4f84f48.7477"]]},{"id":"a82be725.2f5dc8","type":"function","z":"9bf7fb6e.7aac88","name":"on-press","func":"const startup_scene = {brightness: 254, color_temp: 370};\nconst additional_scenes = [\n    {brightness: 254, color: {x: 0.314951744809611, y: 0.325010746064094}, color_temp: 346}, // activate\n    {brightness: 254, color: {x: 0.314951744809611, y: 0.325010746064094}, color_temp: 156}, // reading\n    {brightness: 213, color: {x:0.435684, y: 0.281409}, color_temp: 416}, // spring flowers\n    {brightness: 77, color :{x: 0.458227749642249, y: 0.410224893445347}, color_temp: 367} // dimmed\n] || []; // && to exclude, || to include additional scenes\n\nconst scenes = [\n    startup_scene\n    , ...additional_scenes\n];\n\nvar payload = {state: \"ON\", transition: 0.5};\nif (msg.count > -1) {\n    Object.assign(\n        payload,\n        scenes[msg.count % scenes.length] // round robin\n    );\n}\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":460,"wires":[["b5a40e70.3ce94"]]},{"id":"d8f7279b.a365c8","type":"function","z":"9bf7fb6e.7aac88","name":"off-press","func":"return {payload: {state: \"OFF\", transition: 0.5}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":500,"wires":[["b5a40e70.3ce94"]]},{"id":"d4f84f48.7477","type":"function","z":"9bf7fb6e.7aac88","name":"(up|down)-.*","func":"payload = {\n    \"up-press\": {brightness_step: 40, transition: 0.5},\n    \"down-press\": {brightness_step: -40, transition: 0.5},\n    \"up-hold\": {brightness_move: 80},\n    \"down-hold\": {brightness_move: -80},\n    \"up-hold-release\": {brightness_move: 0},\n    \"down-hold-release\": {brightness_move: 0}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":580,"wires":[["b5a40e70.3ce94"]]},{"id":"56a546b5.fdab58","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"wohnzimmer-dimmer","topic":"zigbee2mqtt/wohnzimmer-dimmer/action","qos":"2","datatype":"auto","broker":"8932bf10.56a6b","x":320,"y":500,"wires":[["bd62e44c.b67ca8"]]},{"id":"b5a40e70.3ce94","type":"mqtt out","z":"9bf7fb6e.7aac88","name":"group-wohnzimmer","topic":"zigbee2mqtt/group-wohnzimmer/set","qos":"","retain":"","broker":"8932bf10.56a6b","x":1110,"y":500,"wires":[]},{"id":"2abe4b94.542774","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"wohnzimmer-regal","topic":"zigbee2mqtt/wohnzimmer-regal","qos":"2","datatype":"json","broker":"8932bf10.56a6b","x":150,"y":380,"wires":[["5592924e.04811c"]]},{"id":"5981e98d.de45f8","type":"counter","z":"9bf7fb6e.7aac88","name":"Counter","init":"-2","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":620,"y":380,"wires":[["57e3ce89.38eb5"]]},{"id":"5592924e.04811c","type":"switch","z":"9bf7fb6e.7aac88","name":"OFF?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["46393295.0e655c"]]},{"id":"46393295.0e655c","type":"change","z":"9bf7fb6e.7aac88","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[["5981e98d.de45f8"]]},{"id":"57e3ce89.38eb5","type":"switch","z":"9bf7fb6e.7aac88","name":"ON?","property":"count","propertyType":"msg","rules":[{"t":"gte","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":380,"wires":[["a82be725.2f5dc8"]]},{"id":"6d395cfa.5a16d4","type":"function","z":"9bf7fb6e.7aac88","name":"(on|off)-hold.*","func":"payload = {\n    \"on-hold\": {color_temp_move: 60},\n    \"off-hold\": {color_temp_move: -60},\n    \"on-hold-release\": {color_temp_move: \"stop\"},\n    \"off-hold-release\": {color_temp_move: \"stop\"}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":540,"wires":[["b5a40e70.3ce94"]]},{"id":"adc64198.4411b","type":"change","z":"9bf7fb6e.7aac88","name":"Nightlight","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"payload.color_temp","pt":"msg","to":"447","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":864,"y":1000,"wires":[["54a6a08c.801c6"]]},{"id":"1e431654.6bae2a","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"garderobe-motion-sensor","topic":"zigbee2mqtt/garderobe-motion-sensor","qos":"2","datatype":"json","broker":"8932bf10.56a6b","x":170,"y":980,"wires":[["b57e1017.ccd2f"]]},{"id":"9165da6b.c7cc68","type":"state-machine","z":"9bf7fb6e.7aac88","name":"State","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["OFF","ON"],"transitions":[{"name":"ON","from":"OFF","to":"ON"},{"name":"OFF","from":"ON","to":"OFF"}],"x":490,"y":980,"wires":[["b0cbb3b1.cd1f4"]]},{"id":"da75601a.79aa2","type":"switch","z":"9bf7fb6e.7aac88","name":"(ON|OFF)?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1060,"wires":[["a99e5a7a.14ccf8"],["54a6a08c.801c6"]]},{"id":"b0cbb3b1.cd1f4","type":"change","z":"9bf7fb6e.7aac88","name":"zigbee2mqtt (ON|OFF)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": msg.payload, \"transition\": 0.5}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1060,"wires":[["da75601a.79aa2"]]},{"id":"b57e1017.ccd2f","type":"change","z":"9bf7fb6e.7aac88","name":"(ON|OFF)","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.occupancy ? \"ON\" : \"OFF\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":980,"wires":[["9165da6b.c7cc68"]]},{"id":"9c805b00.1164e8","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"","topic":"zigbee2mqtt/wuerfel-schalter","qos":"2","datatype":"json","broker":"8932bf10.56a6b","nl":false,"rap":true,"rh":0,"x":180,"y":1340,"wires":[["e1c00636.913d98"]]},{"id":"e1c00636.913d98","type":"switch","z":"9bf7fb6e.7aac88","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"wakeup","vt":"str"},{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":470,"y":1340,"wires":[["66fa70dc.45fa"],[],[],[],[],[],[]]},{"id":"66fa70dc.45fa","type":"change","z":"9bf7fb6e.7aac88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.side","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1340,"wires":[["6eebcb1.38fce34"]]},{"id":"6eebcb1.38fce34","type":"debug","z":"9bf7fb6e.7aac88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1260,"wires":[]},{"id":"930dc605.f37e98","type":"debug","z":"79ddab3e.2ca0c4","name":"Blind position","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":980,"y":600,"wires":[]},{"id":"6f4e279d.892e58","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Sonnenstandautomatik","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.blind_control_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":220,"wires":[["142ffe21.3dce12"]]},{"id":"43ee4058.1c95a","type":"link out","z":"79ddab3e.2ca0c4","name":"","links":["315eecfa.872784","601a7d12.805d24"],"x":735,"y":180,"wires":[]},{"id":"142ffe21.3dce12","type":"change","z":"79ddab3e.2ca0c4","name":"setMode","rules":[{"t":"set","p":"topic","pt":"msg","to":"setMode","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$parseInteger(msg.payload, \"0\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["43ee4058.1c95a"]]},{"id":"1151bc6f.c175d4","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Werktag (heute)","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.is_workday_today","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1240,"y":80,"wires":[["30aa6cf2.546b44"]]},{"id":"30aa6cf2.546b44","type":"change","z":"79ddab3e.2ca0c4","name":"dayInfo.today.isWorkday","rules":[{"t":"set","p":"dayInfo.today.isWorkday","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":80,"wires":[[]]},{"id":"b6fe5f32.faeab","type":"change","z":"79ddab3e.2ca0c4","name":"dayInfo.tomorrow.isWorkday","rules":[{"t":"set","p":"dayInfo.tomorrow.isWorkday","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":140,"wires":[[]]},{"id":"edb8b9f2.f56048","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Werktag (morgen)","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.is_workday_tomorrow","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1240,"y":140,"wires":[["b6fe5f32.faeab"]]},{"id":"601a7d12.805d24","type":"link in","z":"79ddab3e.2ca0c4","name":"","links":["43ee4058.1c95a","abc692f9.5abbc"],"x":155,"y":520,"wires":[["8f8932ea.dd2c1","b7461eaa.f9dbc"]]},{"id":"8651207e.ecb56","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"frühestens von (Werktag)","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.blind_control_from_earliest_workday","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1210,"y":200,"wires":[["251a8f78.fde79"]]},{"id":"251a8f78.fde79","type":"change","z":"79ddab3e.2ca0c4","name":"timeInfo.fromEarliest.workday","rules":[{"t":"set","p":"timeInfo.fromEarliest.workday","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":200,"wires":[[]]},{"id":"d47e295c.c828c8","type":"change","z":"79ddab3e.2ca0c4","name":"timeInfo.untilLatest.workday","rules":[{"t":"set","p":"timeInfo.untilLatest.workday","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":260,"wires":[[]]},{"id":"3116bee7.185eb2","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"spätestens bis (Werktag)","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.blind_control_until_latest_workday","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1210,"y":260,"wires":[["d47e295c.c828c8"]]},{"id":"ec894ccc.4c05b","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Regen","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.blind_control_raining","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"raining","propertyType":"msg","value":"","valueType":"entityState"}],"x":490,"y":340,"wires":[["43ee4058.1c95a"]]},{"id":"76b5c7b0.3f5978","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Sturm","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.blind_control_storm","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":90,"y":280,"wires":[["e8ebd45a.d5bf78"]]},{"id":"b5d2c687.e80328","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Fenster offen","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.blind_control_window_open","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"windowOpen","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":640,"wires":[["8f8932ea.dd2c1"]]},{"id":"c3ffc696.e33588","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Markise offen","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.blind_control_marquee_open","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"marqueeOpen","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":580,"wires":[["8f8932ea.dd2c1"]]},{"id":"601d4000.d7862","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"frühestens von (Feiertag)","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.blind_control_from_earliest_holiday","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1210,"y":320,"wires":[["2f8a3148.cc00be"]]},{"id":"2f8a3148.cc00be","type":"change","z":"79ddab3e.2ca0c4","name":"timeInfo.fromEarliest.weekendOrHoliday","rules":[{"t":"set","p":"timeInfo.fromEarliest.weekendOrHoliday","pt":"flow","to":"msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":320,"wires":[[]]},{"id":"8d66e586.55ff18","type":"change","z":"79ddab3e.2ca0c4","name":"timeInfo.untilLatest.weekendOrHoliday","rules":[{"t":"set","p":"timeInfo.untilLatest.weekendOrHoliday","pt":"flow","to":"msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":380,"wires":[[]]},{"id":"ee2d0a99.94f108","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"spätestens bis (Feiertag)","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.blind_control_until_latest_holiday","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1210,"y":380,"wires":[["8d66e586.55ff18"]]},{"id":"b1527d9c.7c8a2","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Rolladensteuerung aktiv","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.blind_control_active","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":60,"wires":[["b3d46bae.be42c8","98407c10.0be12"]]},{"id":"b3d46bae.be42c8","type":"change","z":"79ddab3e.2ca0c4","name":"active","rules":[{"t":"set","p":"active","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":60,"wires":[[]]},{"id":"f5c75ce9.d5fe9","type":"change","z":"79ddab3e.2ca0c4","name":"position.default","rules":[{"t":"set","p":"position.default","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":60,"wires":[[]]},{"id":"5ef548b.2504db8","type":"blind-control","z":"79ddab3e.2ca0c4","name":"Ausgangsstellung","topic":"","positionConfig":"a962ddc.fbff22","outputs":1,"autoTrigger":false,"autoTriggerTime":"1200000","startDelayTime":"15000","blindIncrement":"0.1","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[{"index":0,"name":"","isValid":false,"valid":{},"timeValue":"civilDawn","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"timeInfo.fromEarliest.workday","timeMinType":"flow","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.today.isWorkday","validOperandAType":"flow","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.today.isWorkday</var> ist true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>bürgerliche Morgendämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>frühestens (min)</span> <var>flow.timeInfo.fromEarliest.workday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"},{"index":1,"name":"","isValid":false,"valid":{},"timeValue":"civilDawn","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"timeInfo.fromEarliest.weekendOrHoliday","timeMinType":"flow","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.today.isWorkday","validOperandAType":"flow","validOperator":"false","validOperatorText":"ist false","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.today.isWorkday</var> ist false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>bürgerliche Morgendämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>frühestens (min)</span> <var>flow....omEarliest.weekendOrHoliday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"},{"index":2,"name":"","isValid":false,"valid":{},"timeValue":"civilDusk","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"timeInfo.untilLatest.workday","timeMaxType":"flow","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.tomorrow.isWorkday","validOperandAType":"flow","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.tomorrow.isWorkday</var> ist true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>bürgerliche Abenddämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-forward\" aria-hidden=\"true\"></i> <span>spätestens (max)</span> <var>flow.timeInfo.untilLatest.workday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"},{"index":3,"name":"","isValid":false,"valid":{},"timeValue":"civilDusk","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"timeInfo.untilLatest.weekendOrHoliday","timeMaxType":"flow","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.tomorrow.isWorkday","validOperandAType":"flow","validOperator":"false","validOperatorText":"ist false","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.tomorrow.isWorkday</var> ist false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>bürgerliche Abenddämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-forward\" aria-hidden=\"true\"></i> <span>spätestens (max)</span> <var>flow....ntilLatest.weekendOrHoliday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"}],"sunControlMode":"0","sunFloorLength":"0.3","sunMinAltitude":"","sunMinDelta":"0.1","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"60000","sunTopic":"","windowTop":"2.1","windowBottom":"17","windowAzimuthStart":"110","windowAzimuthEnd":"260","oversteerValue":"","oversteerValueType":"none","oversteerCompare":"true","oversteerThreshold":"50","oversteerThresholdType":"num","oversteerBlindPos":"open (max)","oversteerBlindPosType":"levelFixed","oversteer2Value":"","oversteer2ValueType":"none","oversteer2Compare":"gte","oversteer2Threshold":"","oversteer2ThresholdType":"num","oversteer2BlindPos":"open (max)","oversteer2BlindPosType":"levelFixed","oversteer3Value":"","oversteer3ValueType":"none","oversteer3Compare":"gte","oversteer3Threshold":"","oversteer3ThresholdType":"num","oversteer3BlindPos":"open (max)","oversteer3BlindPosType":"levelFixed","oversteerTopic":"","x":780,"y":60,"wires":[["f5c75ce9.d5fe9"]]},{"id":"8f8932ea.dd2c1","type":"blind-control","z":"79ddab3e.2ca0c4","name":"Wohnzimmer – Terrasse – links","topic":"","positionConfig":"a962ddc.fbff22","outputs":1,"autoTrigger":false,"autoTriggerTime":"1200000","startDelayTime":"15000","blindIncrement":"0.1","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[{"index":0,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"10%","levelType":"levelFixed","levelOp":1,"levelOpText":"⭳❗  Minimum (übersteuernd)","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"windowOpen","validOperandAType":"msg","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"windowOpen","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>msg.windowOpen</var> ist true</div><div>⭳❗  Minimum (übersteuernd) <var>10%</var></div>"},{"index":1,"name":"","isValid":false,"valid":{},"timeValue":"civilDawn","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"timeInfo.fromEarliest.workday","timeMinType":"flow","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.today.isWorkday","validOperandAType":"flow","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.today.isWorkday</var> ist true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>bürgerliche Morgendämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>frühestens (min)</span> <var>flow.timeInfo.fromEarliest.workday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"},{"index":2,"name":"","isValid":false,"valid":{},"timeValue":"civilDawn","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"timeInfo.fromEarliest.weekendOrHoliday","timeMinType":"flow","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.today.isWorkday","validOperandAType":"flow","validOperator":"false","validOperatorText":"ist false","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.today.isWorkday</var> ist false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>bürgerliche Morgendämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>frühestens (min)</span> <var>flow....omEarliest.weekendOrHoliday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"},{"index":3,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"50%","levelType":"levelFixed","levelOp":1,"levelOpText":"⭳❗  Minimum (übersteuernd)","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"windowOpen","validOperandAType":"msg","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"windowOpen","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>msg.windowOpen</var> ist true</div><div>⭳❗  Minimum (übersteuernd) <var>50%</var></div>"},{"index":4,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"50%","levelType":"levelFixed","levelOp":2,"levelOpText":"⭱️❗  Maximum (übersteuernd)","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"raining","validOperandAType":"msg","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>msg.raining</var> ist true</div><div>⭱️❗  Maximum (übersteuernd) <var>50%</var></div>"},{"index":5,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"open (max)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"marqueeOpen","validOperandAType":"msg","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"windowOpen","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>msg.marqueeOpen</var> ist true</div><div>↕  Absolut <var>offen (max)</var></div>"},{"index":6,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelND","levelOp":1,"levelOpText":"⭳❗  Minimum (übersteuernd)","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div>⭳✋ Minimum zurücksetzen</div>"},{"index":7,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelND","levelOp":2,"levelOpText":"⭱️❗  Maximum (übersteuernd)","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div>⭱️✋ Maximum zurücksetzen</div>"},{"index":8,"name":"","isValid":false,"valid":{},"timeValue":"civilDusk","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"timeInfo.untilLatest.workday","timeMaxType":"flow","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.tomorrow.isWorkday","validOperandAType":"flow","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.tomorrow.isWorkday</var> ist true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>bürgerliche Abenddämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-forward\" aria-hidden=\"true\"></i> <span>spätestens (max)</span> <var>flow.timeInfo.untilLatest.workday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"},{"index":9,"name":"","isValid":false,"valid":{},"timeValue":"civilDusk","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"timeInfo.untilLatest.weekendOrHoliday","timeMaxType":"flow","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"dayInfo.tomorrow.isWorkday","validOperandAType":"flow","validOperator":"false","validOperatorText":"ist false","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.dayInfo.tomorrow.isWorkday</var> ist false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>bürgerliche Abenddämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-forward\" aria-hidden=\"true\"></i> <span>spätestens (max)</span> <var>flow....ntilLatest.weekendOrHoliday</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>"}],"sunControlMode":"2","sunFloorLength":"0.3","sunMinAltitude":"","sunMinDelta":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","sunTopic":"","windowTop":"2.1","windowBottom":"17","windowAzimuthStart":"110","windowAzimuthEnd":"260","oversteerValue":"","oversteerValueType":"none","oversteerCompare":"true","oversteerThreshold":"50","oversteerThresholdType":"num","oversteerBlindPos":"open (max)","oversteerBlindPosType":"levelFixed","oversteer2Value":"","oversteer2ValueType":"none","oversteer2Compare":"gte","oversteer2Threshold":"","oversteer2ThresholdType":"num","oversteer2BlindPos":"open (max)","oversteer2BlindPosType":"levelFixed","oversteer3Value":"","oversteer3ValueType":"none","oversteer3Compare":"gte","oversteer3Threshold":"","oversteer3ThresholdType":"num","oversteer3BlindPos":"open (max)","oversteer3BlindPosType":"levelFixed","oversteerTopic":"","x":390,"y":600,"wires":[["e3e74aca.2ae0c8"]]},{"id":"e3e74aca.2ae0c8","type":"switch","z":"79ddab3e.2ca0c4","name":"Rolladensteuerung aktiv oder Override?","property":"$flowContext('active') or msg.blindCtrl.blind.overwrite.active","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":720,"y":600,"wires":[["930dc605.f37e98"]]},{"id":"ca3108f3.4f5f98","type":"change","z":"79ddab3e.2ca0c4","name":"Alarm (2min)","rules":[{"t":"set","p":"topic","pt":"msg","to":"alarm","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"expire","pt":"msg","to":"120000","tot":"num"},{"t":"set","p":"reason","pt":"msg","to":"storm","tot":"str"},{"t":"set","p":"position","pt":"msg","to":"position.default","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["43ee4058.1c95a"]]},{"id":"e8ebd45a.d5bf78","type":"trigger","z":"79ddab3e.2ca0c4","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"-1","extend":true,"overrideDelay":false,"units":"min","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":280,"wires":[["ca3108f3.4f5f98"]]},{"id":"f0243a28.d1c4d8","type":"trigger","z":"79ddab3e.2ca0c4","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"overrideDelay":true,"units":"min","reset":"false","bytopic":"all","topic":"payload","outputs":1,"x":370,"y":160,"wires":[["43ee4058.1c95a","5ef548b.2504db8"]]},{"id":"b7461eaa.f9dbc","type":"debug","z":"79ddab3e.2ca0c4","name":"Eingang","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":480,"wires":[]},{"id":"98407c10.0be12","type":"change","z":"79ddab3e.2ca0c4","name":"Auslöseintervall","rules":[{"t":"set","p":"delay","pt":"msg","to":"triggerFrequency","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":160,"wires":[["f0243a28.d1c4d8"]]},{"id":"3873950.202856c","type":"server-state-changed","z":"79ddab3e.2ca0c4","name":"Auslöseintervall","server":"a0992e23.0acf8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.blind_control_trigger_interval","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":1240,"y":440,"wires":[["66b558a9.fbc668"]]},{"id":"66b558a9.fbc668","type":"change","z":"79ddab3e.2ca0c4","name":"triggerFrequency","rules":[{"t":"set","p":"triggerFrequency","pt":"flow","to":"1000 * msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":440,"wires":[[]]}]