node-red/flows.json
[{"id":"9bf7fb6e.7aac88","type":"tab","label":"Beleuchtung","disabled":false,"info":""},{"id":"a0992e23.0acf8","type":"server","name":"Home Assistant","addon":true},{"id":"8932bf10.56a6b","type":"mqtt-broker","name":"","broker":"core-mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fd6ad78.cfd8d4","type":"switch","z":"9bf7fb6e.7aac88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on-press","vt":"str"},{"t":"eq","v":"off-press","vt":"str"},{"t":"regex","v":"(on|off)-hold.*","vt":"str","case":false},{"t":"regex","v":"(up|down)-.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":160,"wires":[["5db24814.bd8fa8"],["1ef1f9d9.5b3126"],["4d46e9f1.c2a218"],["ad5b53a3.6d03d"]]},{"id":"9bfc8ef6.375c6","type":"function","z":"9bf7fb6e.7aac88","name":"on-press","func":"const startup_scene = {brightness: 254, color_temp: 370};\nconst additional_scenes = [\n    {brightness: 254, color_temp: 156}, // energize\n    {brightness: 254, color_temp: 346}, // reading\n    {brightness: 77, color_temp: 367} // dimmed\n] || []; // && to exclude, || to include additional scenes\n\nconst scenes = [\n    startup_scene\n    , ...additional_scenes\n];\n\nvar payload = {state: \"ON\", transition: 0.5};\nif (msg.count > -1) {\n    Object.assign(\n        payload,\n        scenes[msg.count % scenes.length] // round robin\n    );\n}\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":120,"wires":[["336a8b4d.d56504"]]},{"id":"1ef1f9d9.5b3126","type":"function","z":"9bf7fb6e.7aac88","name":"off-press","func":"return {payload: {state: \"OFF\", transition: 0.5}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["336a8b4d.d56504"]]},{"id":"ad5b53a3.6d03d","type":"function","z":"9bf7fb6e.7aac88","name":"(up|down)-.*","func":"payload = {\n    \"up-press\": {brightness_step: 40, transition: 0.5},\n    \"down-press\": {brightness_step: -40, transition: 0.5},\n    \"up-hold\": {brightness_move: 80},\n    \"down-hold\": {brightness_move: -80},\n    \"up-hold-release\": {brightness_move: 0},\n    \"down-hold-release\": {brightness_move: 0}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":240,"wires":[["336a8b4d.d56504"]]},{"id":"32a3414.7a5c0be","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"wohnzimmer-decke-dimmer","topic":"zigbee2mqtt/wohnzimmer-decke-dimmer/action","qos":"2","datatype":"auto","broker":"8932bf10.56a6b","x":340,"y":160,"wires":[["5fd6ad78.cfd8d4"]]},{"id":"336a8b4d.d56504","type":"mqtt out","z":"9bf7fb6e.7aac88","name":"group-wohnzimmer-decke","topic":"zigbee2mqtt/group-wohnzimmer-decke/set","qos":"","retain":"","broker":"8932bf10.56a6b","x":1140,"y":160,"wires":[]},{"id":"33d19d47.fbeea2","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"wohnzimmer-decke-1","topic":"zigbee2mqtt/wohnzimmer-decke-1","qos":"2","datatype":"json","broker":"8932bf10.56a6b","x":160,"y":40,"wires":[["7994956e.5d74cc"]]},{"id":"5db24814.bd8fa8","type":"counter","z":"9bf7fb6e.7aac88","name":"Counter","init":"-2","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":620,"y":40,"wires":[["aca5d059.c41b4"]]},{"id":"7994956e.5d74cc","type":"switch","z":"9bf7fb6e.7aac88","name":"OFF?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":40,"wires":[["8f4e7bc.3fb9d88"]]},{"id":"8f4e7bc.3fb9d88","type":"change","z":"9bf7fb6e.7aac88","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":40,"wires":[["5db24814.bd8fa8"]]},{"id":"aca5d059.c41b4","type":"switch","z":"9bf7fb6e.7aac88","name":"ON?","property":"count","propertyType":"msg","rules":[{"t":"gte","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":40,"wires":[["9bfc8ef6.375c6"]]},{"id":"4d46e9f1.c2a218","type":"function","z":"9bf7fb6e.7aac88","name":"(on|off)-hold.*","func":"payload = {\n    \"on-hold\": {color_temp_move: 60},\n    \"off-hold\": {color_temp_move: -60},\n    \"on-hold-release\": {color_temp_move: \"stop\"},\n    \"off-hold-release\": {color_temp_move: \"stop\"}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":200,"wires":[["336a8b4d.d56504"]]},{"id":"d2b81a0c.fa4bd8","type":"switch","z":"9bf7fb6e.7aac88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on-press","vt":"str"},{"t":"eq","v":"off-press","vt":"str"},{"t":"regex","v":"(on|off)-hold.*","vt":"str","case":false},{"t":"regex","v":"(up|down)-.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":460,"wires":[["7552153.4e951ec"],["4513a2f6.285aec"],["d82fe7f7.84eb18"],["e956b082.c755c"]]},{"id":"ed1d1058.9f5aa","type":"function","z":"9bf7fb6e.7aac88","name":"on-press","func":"const startup_scene = {brightness: 254, color_temp: 370};\nconst additional_scenes = [\n    {brightness: 254, color: {x: 0.314951744809611, y: 0.325010746064094}, color_mode: \"color_temp\", color_temp: 346}, // activate\n    {brightness: 254, color: {x: 0.314951744809611, y: 0.325010746064094}, color_mode: \"color_temp\", color_temp: 156}, // reading\n    {brightness: 213, color: {x:0.435684, y: 0.281409}, color_mode: \"xy\", color_temp: 416}, // spring flowers\n    {brightness: 77, color :{x: 0.458227749642249, y: 0.410224893445347}, color_mode: \"color_temp\", color_temp: 367} // dimmed\n] || []; // && to exclude, || to include additional scenes\n\nconst scenes = [\n    startup_scene\n    , ...additional_scenes\n];\n\nvar payload = {state: \"ON\", transition: 0.5};\nif (msg.count > -1) {\n    Object.assign(\n        payload,\n        scenes[msg.count % scenes.length] // round robin\n    );\n}\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":420,"wires":[["e91cbd9c.8a503"]]},{"id":"4513a2f6.285aec","type":"function","z":"9bf7fb6e.7aac88","name":"off-press","func":"return {payload: {state: \"OFF\", transition: 0.5}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":460,"wires":[["e91cbd9c.8a503"]]},{"id":"e956b082.c755c","type":"function","z":"9bf7fb6e.7aac88","name":"(up|down)-.*","func":"payload = {\n    \"up-press\": {brightness_step: 40, transition: 0.5},\n    \"down-press\": {brightness_step: -40, transition: 0.5},\n    \"up-hold\": {brightness_move: 80},\n    \"down-hold\": {brightness_move: -80},\n    \"up-hold-release\": {brightness_move: 0},\n    \"down-hold-release\": {brightness_move: 0}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":540,"wires":[["e91cbd9c.8a503"]]},{"id":"ce73a8c4.9f65a8","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"schlafzimmer-dimmer","topic":"zigbee2mqtt/schlafzimmer-dimmer/action","qos":"2","datatype":"auto","broker":"8932bf10.56a6b","x":320,"y":460,"wires":[["d2b81a0c.fa4bd8"]]},{"id":"e91cbd9c.8a503","type":"mqtt out","z":"9bf7fb6e.7aac88","name":"group-schlafzimmer","topic":"zigbee2mqtt/group-schlafzimmer/set","qos":"","retain":"","broker":"8932bf10.56a6b","x":1120,"y":460,"wires":[]},{"id":"47633ec0.d10ce","type":"mqtt in","z":"9bf7fb6e.7aac88","name":"schlafzimmer-1","topic":"zigbee2mqtt/schlafzimmer-1","qos":"2","datatype":"json","broker":"8932bf10.56a6b","x":140,"y":340,"wires":[["1b5574b7.ab40fb"]]},{"id":"7552153.4e951ec","type":"counter","z":"9bf7fb6e.7aac88","name":"Counter","init":"-2","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":620,"y":340,"wires":[["c7844871.e15cf8"]]},{"id":"1b5574b7.ab40fb","type":"switch","z":"9bf7fb6e.7aac88","name":"OFF?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":340,"wires":[["e40533f0.26caf"]]},{"id":"e40533f0.26caf","type":"change","z":"9bf7fb6e.7aac88","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[["7552153.4e951ec"]]},{"id":"c7844871.e15cf8","type":"switch","z":"9bf7fb6e.7aac88","name":"ON?","property":"count","propertyType":"msg","rules":[{"t":"gte","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":340,"wires":[["ed1d1058.9f5aa"]]},{"id":"d82fe7f7.84eb18","type":"function","z":"9bf7fb6e.7aac88","name":"(on|off)-hold.*","func":"payload = {\n    \"on-hold\": {color_temp_move: 60},\n    \"off-hold\": {color_temp_move: -60},\n    \"on-hold-release\": {color_temp_move: \"stop\"},\n    \"off-hold-release\": {color_temp_move: \"stop\"}\n}[msg.payload];\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":500,"wires":[["e91cbd9c.8a503"]]},{"id":"b45ea4e4.0c42a8","type":"server-state-changed","z":"9bf7fb6e.7aac88","name":"garderobe-motion-sensor","server":"a0992e23.0acf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x001788010329dfc5_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":691,"wires":[["fe372a99.9282b8"]]},{"id":"54a6a08c.801c6","type":"mqtt out","z":"9bf7fb6e.7aac88","name":"group-garderobe","topic":"zigbee2mqtt/group-garderobe/set","qos":"","retain":"","broker":"8932bf10.56a6b","x":1110,"y":691,"wires":[]},{"id":"a99e5a7a.14ccf8","type":"time-range-switch","z":"9bf7fb6e.7aac88","name":"Sleeptime?","lat":"50.1333","lon":"8.71005","startTime":"23:00","endTime":"06:30","startOffset":0,"endOffset":0,"x":550,"y":691,"wires":[["adc64198.4411b"],["b76bdd82.391ed"]]},{"id":"b76bdd82.391ed","type":"change","z":"9bf7fb6e.7aac88","name":"Standard","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": 254, \"color_temp\": 370}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":711,"wires":[["54a6a08c.801c6"]]},{"id":"adc64198.4411b","type":"change","z":"9bf7fb6e.7aac88","name":"Nightlight","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\": 2, \"color\": {\"x\": 0.502600996314909, \"y\": 0.415266341542373}, \"color_mode\": \"color_temp\", \"color_temp\": 447}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":671,"wires":[["54a6a08c.801c6"]]},{"id":"fe372a99.9282b8","type":"change","z":"9bf7fb6e.7aac88","name":"(on|off)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": msg.payload, \"transition\": 0.5}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":691,"wires":[["a99e5a7a.14ccf8"]]}]